.instrument-list {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-top: none;
}

.instrument-category-tab {
    /*@extend tab-pane fade*/
}

.instrument-container {
    /*@extend row row-cols-**/
}

.instrument-menu {
    padding: 0%;
}

.container-flex .card {
    margin-bottom: 20px;
}

/* Style the navigation tabs */
.nav-tabs {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.nav-item {
    margin-bottom: -1px;
}

.nav-link {
    color: #495057;
    border: 1px solid transparent;
    border-radius: 0;
}

.nav-link.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Or 100vh */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 0.3s ease; /* Smooth transition effect */
}
.loadingText {
    color: white;
    font-size: 24px;
}

#categories {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

/* zero size scrollbar */
#categories {
    scrollbar-width: none;
} 

#categories .nav-item {
    flex: 0 0 auto;
}

#categories .nav-link {
    white-space: nowrap;
}

