{% extends 'base.html.twig' %}

{% block title %}Hello DummyController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Dummy with id {{ entity.id }}!</h1>
    <h2>Dummy with name {{ entity.name }}</h2>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/var/www/music/src/Controller/DummyController.php</code></li>
        <li>Your template at <code>/var/www/music/templates/dummy/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
