{# templates/models/components/_model_card.html.twig #}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{model.name}</h5>
        <p class="card-text">{model.description}</p>
        <a href="{model.show}" class="btn btn-primary">Подробнее</a>
    </div>
</div>
