{# templates/instruments/components/_instrument_card.html.twig #}
<div class="col">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{instrument.name}</h5>
            <p class="card-text">{instrument.description}</p>
            <a href="{instrument.show}" class="btn btn-primary">Подробнее</a>
        </div>
    </div>
</div>
