<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">${instrument.name}</h5>
        <p class="card-text">${instrument.description}</p>
        <a href="${url}" class="btn btn-primary">Подробнее</a>
    </div>
</div>